.form-container {
  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -0%);
  width: 95%;
  height: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #f8fffb;
  transition: all linear 0.2s;
  display: flex;
  overflow-y: hidden;

  .form-content-container {
    height: 100%;
    width: 50%;
    padding-left: 2rem;
    padding-top: 1rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      width: 90%;
      padding-left: 1rem;
    }

    .form-row {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
    }

    input,
    .message-input {
      border: 1px solid black;
      border-radius: 4px;
      outline: none;
      padding: 1rem;
      width: 100%;
    }

    /* For Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .message-input {
      height: 230px;
      letter-spacing: 1px;
      resize: none;
    }

    .submit-btn {
      border: none;
      outline: none;
      background-color: black;
      color: white;
      padding: 1rem 0rem;
      margin-top: 1rem;
      border-radius: 8px;
      width: 110px;
      cursor: pointer;
    }
  }

  .close-icon-container {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      top: 0.8rem;
      right: 0.8rem;
    }
  }

  .object-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
    margin-top: 1rem;
  }

  .loading-spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid rgba(255, 255, 255, 0.4);
      border-top: 5px solid #000000;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    /* Keyframes for animation */
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.form-visible {
  // bottom: 0rem
  height: 550px;
  transition: all linear 0.2s;
}
