@use "../../../designSystem/library" as *;

.mainsection-container {
  display: flex;
  position: relative;
  height: 100vh;

  .particle-group-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sm-links-section {
    flex: 0.05;
    position: relative;

    .link-holder {
      position: absolute;
      top: 50%;
      left: calc(-50% - 4rem);
      transform: rotate(-90deg) translateY(-0%);
      display: flex;
      gap: 4rem;

      .sm-link {
        color: white;
        text-decoration: none;
        font-size: 14px;
        position: relative;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
    margin-left: -4rem;

    .hero-subheading {
      padding: 0.2rem 0.6rem;
      color: BLACK;
      font-weight: 500;
      background-color: $primary-200;
    }

    .hero-text {
      font-size: 64px;
      font-weight: 400;
      margin-top: 0.5rem;
    }

    .hero-description-container {
      position: absolute;
      bottom: 3rem;
      right: 2rem;
      width: 380px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: end;

      .hero-description-text {
        line-height: 22px;
      }
    }
  }
}
