@use "../../../designSystem/library" as *;

.mainsection-container {
  display: flex;
  position: relative;
  height: 100vh;

  .particle-group-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      top: 40%;
    }
  }

  .sm-links-section {
    flex: 0.05;
    position: relative;

    .link-holder {
      position: absolute;
      top: 50%;
      left: calc(-50% - 4rem);
      transform: rotate(-90deg) translateY(-0%);
      display: flex;
      gap: 4rem;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        left: calc(-50% - 5.5rem);
        top: 75%;
      }

      .sm-link {
        color: white;
        text-decoration: none;
        font-size: 14px;
        position: relative;

        @media screen and (min-width: 300px) and (max-width: 600px) {
          font-size: 12px;
        }
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
    margin-left: -4rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      margin-left: -1rem;
      justify-content: start;
      margin-top: calc(50vh - 120px);
    }

    .hero-subheading {
      padding: 0.2rem 0.6rem;
      color: black;
      font-weight: 500;
      background-color: $primary-200;
      white-space: nowrap;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        font-size: 12px;
        text-align: center;
      }
    }

    .hero-text {
      font-size: 64px;
      font-weight: 400;
      margin-top: 0.5rem;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        font-size: 30px;
        text-align: center;
      }
    }

    .hero-description-container {
      position: absolute;
      bottom: 3rem;
      right: 2rem;
      width: 380px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: end;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        font-size: 12px;
        right: 1rem;
        bottom: 1rem;
        width: 280px;
      }

      .hero-description-text {
        line-height: 22px;
      }
    }
  }
}
