@use "../../designSystem/library" as *;

.header-container {
  height: 90px;
  width: 100%;
  backdrop-filter: blur(2px);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 16;
  color: white;
  font-family: $font-primary;

  .header-content {
    display: flex;
    border-bottom: 0.5px solid white;
    height: 100%;

    .logo-container,
    .name-container,
    .menu-container {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .logo-container {
    }

    .name-container {
      .text {
        letter-spacing: 4px;
        font-size: 18px;
      }
    }

    .menu-container {
      justify-content: end;
    }
  }
}
