@use "../../../designSystem/library" as *;

.testimonials-container {
  margin-top: 4rem;
  padding: 0rem 2rem;
  height: 350px;
  overflow-x: hidden;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    padding: 0rem 1rem;
    margin-top: -2rem;
  }

  .testimonials-header {
    font-size: 64px;
    color: white;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      font-size: 44px;
    }
  }

  .testimonials-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      margin-top: -0.5rem;
    }

    .arrow-container {
      border: 1px solid white;
      background: none;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 0.2s;
      cursor: pointer;
      z-index: 12;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        height: 30px;
        width: 30px;
      }

      &:hover {
        background-color: white;

        svg {
          path {
            stroke: black;
          }
        }
      }
    }

    .testimony-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 200px;
      z-index: 11;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        height: 250px;
      }

      .testimonial-card {
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translate(-0%, -50%);
        width: 100%;
        color: white;
        padding: 0rem 6rem;
        font-family: $font-secondary;
        transition: all linear 0.3s;

        @media screen and (min-width: 300px) and (max-width: 600px) {
          padding: 0rem 1rem;
        }

        .comment {
          font-weight: 400;
          font-size: 30px;
          line-height: 36px;

          @media screen and (min-width: 300px) and (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .name {
          font-weight: 400;
          margin-top: 1.2rem;
          font-size: 20px;
        }

        .designation {
          font-weight: 300;
          font-size: 14px;
          margin-top: 0.2rem;
        }
      }

      .dots-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 200px;
        width: 200px;

        @media screen and (min-width: 300px) and (max-width: 600px) {
          margin-top: 250px;
        }

        .dot {
          border-radius: 50%;
          border: 1px solid white;
          height: 12px;
          width: 12px;
          cursor: pointer;
        }

        .filled-dot {
          border: 1px solid $primary-200;
          background-color: $primary-200;
        }
      }
    }
  }
}
