@use "./library" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-100;
}

::-moz-selection {
  color: white;
  background: $orange-100;
}

::selection {
  color: white;
  background: $orange-100;
}
