@use "./library" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  // scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

body {
  background-color: $primary-100;
}

::-moz-selection {
  color: black;
  background: #ffffff;
}

::selection {
  color: black;
  background: #ffffff;
}
