@use "../../../designSystem/library" as *;

.contact-us-container {
  margin-top: 4rem;
  position: relative;
  padding: 2rem;
  overflow-y: hidden;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    margin-top: 2rem;
    padding: 0rem 1rem;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .section-header {
      text-align: center;
      font-size: 64px;
      font-weight: 500;
      width: 770px;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        font-size: 34px;
        width: fit-content;
      }
    }

    .lets-talk-btn {
      padding: 1rem 0rem;
      border-radius: 4px;
      background-color: $primary-200;
      margin-top: 2rem;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      width: 140px;
    }
  }

  .tags-container {
    display: flex;
    margin-top: 4rem;
    width: 400px;
    flex-wrap: wrap;
    gap: 0.4rem;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      width: 100%;
    }

    .tag-1,
    .tag-2,
    .tag-3 {
      padding: 0.6rem 1.2rem;
      background-color: #5de6a9;
      border-radius: 8px;
      width: fit-content;
      cursor: pointer;
    }
  }

  .icons-copyright-container {
    display: flex;
    justify-content: space-between;
    color: white;

    @media screen and (min-width: 300px) and (max-width: 600px) {
      flex-direction: column;
      gap: 0.5rem;
    }

    .icons-container {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 1rem;
      margin-top: 3rem;
      cursor: pointer;
    }

    .copyright-container {
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 1rem;
      margin-top: 1.4rem;
      font-family: $font-secondary;
      font-size: 14px;

      @media screen and (min-width: 300px) and (max-width: 600px) {
        flex-direction: column;
        align-items: start;
      }

      .privacy-terms-conditions-container {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        @media screen and (min-width: 300px) and (max-width: 600px) {
          padding-bottom: 2rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
